body {

  background-image:url('/Images/PlayEVEBackground.jpg');
  background-repeat: no-repeat;
    background-color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper
{
    width: 960px;
    margin: 0 auto;
    background: #444;
    overflow-y: hidden;
    overflow-x: hidden;
}