#slider {
  width: 750px;
  margin: 0 auto;
    clear:both;
}

/*
  Max and Min
*/
.max {
    color: white;
  float: left;
}

.min {
    color: white;
  float: left;
}

.min, .max {
  cursor: pointer;
}

/*
  Range
*/
input[type="range"] {
  float: left;

  width: 500px;
}

/*
  Current Value
*/
.current-value {
  color: white;
  position: relative;
  top: 40px;
  left: 280px;
}
