#slider {
  width: 750px;
  clear:both;
  margin: 0 auto 0 170px;

}

/*
  Max and Min
*/
.max {
    color: white;
  float: left;
}

.min {
    color: white;
  float: left;
}

.min, .max {
  cursor: pointer;
}

/*
  Range
*/
input[type="range"] {
  float: left;
  width: 500px;
}

/*
  Current Value
*/
.current-value {
  color: white;
  position: relative;
  margin: 0 auto;
  top: 40px;
  left: -75px;
  width: 50px;
}
